{% extends "base.html" %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ base_url }}/css/lightgallery.min.css">

{% endblock styles %}

{% block libs %}
{{ super() }}
<script src="{{ base_url }}/js/lightgallery.min.js"></script>
{% endblock libs %}

{% block scripts %}
{{ super() }}
<script>
    var elements = document.getElementsByClassName("lightgallery");
    for (var i = 0; i < elements.length; i++) {
        lightGallery(elements[i]);
    }
    document.querySelector("body > header > nav > a > img").style.height = "2rem";


    let header = document.querySelector("body > header > nav");
    header.removeChild(document.querySelector("body > header > nav > div.md-header__source"));

    let tryDiv = document.createElement("div");
    tryDiv.setAttribute("style", "padding: 0.2rem");

    let tryButton = document.createElement('a');
    tryButton.setAttribute("class", "button");
    tryButton.setAttribute("href", "https://assetstore.unity.com/packages/slug/224130");
    tryButton.text = "TRY NOW";

    tryDiv.appendChild(tryButton);
    header.appendChild(tryDiv);
</script>
{% endblock scripts %}

{% block header %}

{{ super() }}
{% endblock header %}