.button {
    padding: 7px 34px;
    border: 1px solid transparent;
    border-image: none;
    text-align: center;
    line-height: 1.4285;
    font-size: 0.7rem;
    margin-bottom: 0px;
    vertical-align: middle;
    display: inline-block;
    white-space: nowrap;
    cursor: pointer;
    -ms-user-select: none;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    background-image: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color : var(--md-accent-fg-color);
    color: white;
    font-weight: bolder;
}

.button:hover {
    background-color: var(--md-primary-bg-color);
    color: var(--md-accent-bg-color);
}

:root > * {
    --md-accent-fg-color:        #7CC242;
   
}